* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  font-family: poppins,sans-serif;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  
}
h1, h2, h3, h4, h5 {
  margin: 0;
}